.header {
    text-align: right;
    padding: 3rem;
    font-size: 1.4rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .header-home {
        padding: 1.5rem;
        background-color: #E1FFEE;
        text-decoration: none;
    }
}